<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>登陆页面</title>
</head>
<body>
<div>
    <form class="form-signin" role="form" name="form" th:action="@{/login}" action="/login" method="post">
        <div>
            <p><input type="text" class="form-control" name="username" value="" placeholder="账号"/></p>
            <input type="password" class="form-control" name="password" placeholder="密码"/>
        </div>
        <input type="submit" id="login" value="Login" />
    </form>
</div>
</body>
</html>